<%=form_for @messages, :url => { :action => "messageprocess" }  do |f| %>
    <%=f.hidden_field :to_userid, :value=>@user_id%>


      <div class="control-group">
      <%= f.label :subject, :class=>'control'  %><br>
        <div class="controls">

        <%= f.text_field :subject, :class=>'form-control'  %>
          </div>
    </div>

    <div class="control-group">
      <%= f.label :message_content, :class=>'control'  %><br>

      <div class="controls">
      <%= f.text_area :message_content, :class=>'form-control'  %>
        </div>
    </div>

    <%=f.submit :send, :class => 'btn btn-primary'%>
<% end %>